<!-- Header -->
<header class="sticky top-0 z-50 bg-black text-white px-6 py-4 border-b border-gray-800">
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <span class="text-xl font-bold">Hang Meas</span>
    </div>

    <!-- Desktop Nav -->
    <nav class="hidden md:flex space-x-8 justify-center flex-1">
      <a href="#features" class="hover:text-[#F59B1D]">Features</a>
      <a href="#how-it-works" class="hover:text-[#F59B1D]">How It Works</a>
      <a href="#download" class="hover:text-[#F59B1D]">Download</a>
      <a href="<%= new_path %>" class="hover:text-[#F59B1D]">About</a>

    </nav>

    <!-- Desktop Button -->
    <div class="hidden md:block">
      <a href="#" class="bg-[#F59B1D] px-4 py-2 rounded-lg font-semibold hover:opacity-90">Get Started</a>
    </div>

    <!-- Hamburger Button -->
    <button id="menu-btn" class="md:hidden focus:outline-none">
      <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden flex flex-col mt-4 bg-white rounded-lg text-black shadow-lg md:hidden">
    <a href="#features" class="py-2 px-4 hover:bg-gray-100">Features</a>
    <a href="#how-it-works" class="py-2 px-4 hover:bg-gray-100">How It Works</a>
    <a href="#download" class="py-2 px-4 hover:bg-gray-100">Downloadff</a>
    <a href="<%= new_path %>" class="hover:text-[#F59B1D]">About</a>

    <a href="#" class="py-2 px-4 font-semibold text-white bg-[#F59B1D] hover:opacity-90 rounded-b-lg">Get Started</a>
  </div>
</header>